<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name = "hibernate.connection.url">jdbc:hsqldb:mem:cities;sql.enforce_size=false</property>
        <property name = "hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name = "hibernate.connection.username">test</property>
        <property name = "hibernate.connection.password"></property>
        <property name = "hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.pool_size">1</property>
        <property name="hibernate.current_session_context_class">thread</property>

        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!--указывает, что перед тестами будет создана БД со всеми схемами заново-->
        <property name="hbm2ddl.auto">create</property>
        <!-- List of XML mapping files -->


        <mapping class="ru.job4j.tracker.model.City"/>
        <mapping class="ru.job4j.tracker.model.Item" />
        <mapping class="ru.job4j.tracker.hibernate.model.Car" />
    </session-factory>
</hibernate-configuration>